.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--kiwi-spacing-1);
}

.errorTitle {
  display: flex;
  align-items: center;
  gap: var(--kiwi-spacing-1);
}

.actionText {
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
  color: var(--kiwi-colors-semantic-error);
}
