@import "../../constants/lumin-styles";
@import "../../constants/modal";

&.open {
  opacity: 1;
  transition: opacity 1s 2s;
}

&.closed {
  opacity: 0;
}

.ProgressModal {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: $primary;
    font-size: 1.5rem;
    margin-bottom: 12px;
    font-weight: 600;
  }

  &__bar {
    width: 30%;
    height: 10px;
    border-radius: 4px;
  }
}
