$bg-gradient: #fff;

@keyframes thumbnail-fade-in {
  from {
    opacity: 0;
    transform: scale(0.98);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

%overlay-base {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  width: 160px;
}

%overlay-left {
  @extend %overlay-base;

  left: 0;
  background: linear-gradient(to right, $bg-gradient, transparent);
  border-radius: var(--kiwi-border-radius-lg) 0 0 var(--kiwi-border-radius-lg);
}

%overlay-right {
  @extend %overlay-base;

  right: 0;
  background: linear-gradient(to left, $bg-gradient, transparent);
  border-radius: 0 var(--kiwi-border-radius-lg) var(--kiwi-border-radius-lg) 0;
}

.container {
  --thumbnail-width: 268px;
  --margin-horizontal: 16px;
  --margin-bottom: var(--kiwi-spacing-7);

  margin: 0 auto var(--margin-bottom);

  @include media-query-up(xs) {
    --thumbnail-width: 382px;
  }

  @include media-query-up(md) {
    --margin-horizontal: 32px;
    --margin-bottom: 80px;
  }

  @include media-query-up(xl) {
    --margin-horizontal: 40px;
  }
}

.templateContainer {
  margin: 0 -16px;
  border-radius: 0;
  padding: var(--kiwi-spacing-7) var(--kiwi-spacing-2);
  background: var(--kiwi-colors-support-blue-background-highest);

  @include media-query-up(md) {
    margin: 0 auto;
    border-radius: 16px;
    padding: 40px var(--kiwi-spacing-5) var(--kiwi-spacing-5-5);
    gap: 40px;
  }

  @include media-query-up(xl) {
    padding: 40px 105px;
  }
}

.templateHeader {
  color: var(--kiwi-colors-surface-on-surface);
  text-align: center;

  @include kiwi-typography-headline-xs;

  margin-bottom: var(--kiwi-spacing-2-5);

  @include media-query-up(md) {
    @include kiwi-typography-headline-sm;

    margin-bottom: var(--kiwi-spacing-3);
  }
}

.timeSelectorWrapper {
  position: relative;
  margin: 0 auto var(--kiwi-spacing-5) auto;
  padding: var(--kiwi-spacing-1);
  border-radius: var(--kiwi-border-radius-lg);
  background: var(--kiwi-colors-surface-background);

  @include media-query-up(xl) {
    width: 760px;
  }
}

.timeSelectorViewport {
  overflow: hidden;
}

.timeSelectorContainer {
  display: flex;
  gap: var(--kiwi-spacing-1);
  touch-action: pan-y pinch-zoom;
}

.timeSelectorSlide {
  min-width: 98px;
  transform: translate3d(0, 0, 0);
  flex: 0 0 auto;
}

.isFullFlex {
  flex: 1 0 0;
}

.showOverlayRight {
  &::after {
    @extend %overlay-right;
  }
}

.showOverlayLeft {
  &::before {
    @extend %overlay-left;
  }
}

.arrowButton {
  z-index: 5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &:active,
  &:focus,
  &:hover {
    background: none !important;
  }
}

.arrowButtonLeft {
  left: 0;
}

.arrowButtonRight {
  right: 0;
}

.thumbnailWrapper {
  max-width: var(--thumbnail-width);
  height: 384px;
  position: relative;
  margin: 0 auto;

  @include media-query-up(xs) {
    height: 548px;
  }
}

.thumbnailContainer {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.thumbnailPreview {
  animation: thumbnail-fade-in 0.3s ease-in-out forwards;
  transition: opacity 0.3s ease-in-out;
  margin: 0 auto;
  width: 100%;
  max-width: var(--thumbnail-width);

  --thumbnail-ratio: calc(384 / 268);
  --thumbnail-aspect: 268 / 384;

  @include media-query-up(xs) {
    --thumbnail-ratio: calc(540 / 382);
    --thumbnail-aspect: 382 / 540;
  }
}

.thumbnailPreviewImage {
  object-fit: cover;
}

.bottomAction {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 100%;
  height: 248px;
  padding: var(--kiwi-spacing-2-5) 0 var(--kiwi-spacing-3) 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0 0 var(--kiwi-border-radius-md) var(--kiwi-border-radius-md);
  background: linear-gradient(
    180deg,
    rgb(255 255 255 / 0%) 0%,
    var(--kiwi-colors-surface-background) 72.18%
  );

  @include media-query-up(xss) {
    width: var(--thumbnail-width);
  }
}

.groupIcon {
  --group-icon-size: 48px;

  z-index: 3;
  position: absolute;
  right: calc(50% - (var(--thumbnail-width) / 2) - var(--group-icon-size) / 2);
  top: 16px;
  display: flex;
  flex-direction: column;
  pointer-events: none;

  @include media-query-down(xss) {
    right: -10px;
  }

  @include media-query-up(md) {
    --group-icon-size: 64px;
  }
}

.groupIconImage {
  width: var(--group-icon-size);
  height: var(--group-icon-size);

  &:last-child {
    margin-top: 8px;
  }
}
