.textCentered {
  text-align: center;
}

.description {
  margin: var(--kiwi-spacing-1) 0 var(--kiwi-spacing-3);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--kiwi-spacing-1);

  .title {
    margin: 0;
  }
}
