.container {
  display: block;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: var(--kiwi-spacing-2);
}

.link {
  font-weight: 700;
  color: var(--kiwi-colors-surface-on-surface);
  text-decoration: underline;
}