.wrapButton {
  display: flex;
  padding: var(--kiwi-spacing-0);
  justify-content: flex-end;
  align-items: center;
  gap: var(--kiwi-spacing-2);
  margin-top: var(--kiwi-spacing-3);
}

.leftButton {
  color: var(--kiwi-colors-core-secondary);
  text-align: center;
  @include kiwi-typography-label-lg;
}

.rightButton {
  color: var(--kiwi-colors-core-on-secondary);
  text-align: center;
  @include kiwi-typography-label-lg;
}

