{{#> layout }}
<mj-text>
  <h3>Reset your Password</h3>
</mj-text>

<mj-spacer height="12px" />
<mj-text>To reset your Lumin password, please click the button below:</mj-text>

<mj-spacer height="32px" />
<mj-button align="left" href="{{ recoveryUrl }}">
  Reset Password
</mj-button>

<mj-spacer height="32px" />
<mj-text mj-class="text-neutral-70">If that doesn't work, you can access the following link:</mj-text>
<mj-text mj-class="text-secondary-50 font-medium underline">
  <a href="{{ recoveryUrl }}">
    {{ recoveryUrl }}
  </a>
</mj-text>
{{/layout}}
