.canvas {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.hidden {
  display: none;
}

.canvasContainer {
  position: relative;
  height: 236px;
  display: flex;
}