certs/*
.git
.gitignore
README.md
docker-compose.yml
Dockerfile
node_modules
**/node_modules/
**/dist
npm-debug.log
dist
.env
.env*
.coverage
.coverage.*
.aws
coverage
scripts
utility-script
bitbucket-pipelines.yml