/node_modules
/dist
.DS_Store
.env
.cache
/mongo-connector-log
src/Environment/Settings/dev.settings.json
dump.rdb
/documentation
/utility-script
src/coverage
/coverage
/.nyc_output
/certs
/logs
src/output
introspection.json
cert.pem
lumin-nestjs
/src/Email/mjml/watchedHtml
/src/Email/mjml/html
/src/Email/mjml/libs
.cursor/*
!.cursor/commands/
src/CustomRules/config/development.yaml
/badges
