.container {
  display: flex;
  padding: var(--kiwi-spacing-1) var(--kiwi-spacing-1-5);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--kiwi-spacing-1);
  align-self: stretch;
  border-radius: var(--kiwi-border-radius-md);
  background: var(--kiwi-colors-support-lime-background-highest);
  color: var(--kiwi-colors-surface-on-surface-variant);
}

.noteItem {
  display: flex;
  align-items: center;
  gap: var(--kiwi-spacing-0-75);
  align-self: stretch;
}

.icon {
  color: var(--kiwi-colors-semantic-success);
}
