.container {
  display: flex;
  flex-direction: column;
  gap: var(--kiwi-spacing-2);
  overflow-y: auto;
  height: 400px;
  margin: 0 calc(-1 * var(--kiwi-spacing-2-5));
  padding: 0 var(--kiwi-spacing-2-5);
}

.orgInfoContainer {
  display: flex;
  flex-direction: column;
  gap: var(--kiwi-spacing-0-5);
}

.periodTitle {
  margin-bottom: var(--kiwi-spacing-0-5);
}

.orgInfo {
  margin-top: var(--kiwi-spacing-0-25);
}
