.container {
  display: flex;
  flex-direction: column;
  padding: var(--kiwi-spacing-2);
  gap: var(--kiwi-spacing-2);
  position: absolute;
  width: 461px;
  top: 108px;
  right: 60px;
  background-color: var(--kiwi-colors-surface-surface-bright);
  z-index: 999;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--kiwi-spacing-0-5);
}

.actions {
  display: flex;
  gap: var(--kiwi-spacing-2);
  justify-content: flex-end;
}

.hasWarningBanner {
  top: 152px;
}
