.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--kiwi-colors-surface-surface);
  border-radius: var(--kiwi-spacing-1-5) var(--kiwi-spacing-1-5) 0 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--kiwi-colors-surface-surface);
  overflow: hidden; /* Prevent content from overflowing */
  min-height: 0; /* Critical for Firefox - allows flex children to scroll */
}
