@import "../../constants/lumin-styles";

.MaterialAvatar {
  font-weight: 600;
  position: relative;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
  font-family: var(--font-primary);

  &__border {
    border: 2px solid white;

    @include themify {
      border-color: themed("avatarBorder");
    }

    &--circle {
      border-radius: 50%;
    }
  }

  &__image {
    width: 100% !important;
    height: 100% !important;
  }

  &__container {
    background: var(--color-neutral-20);

    @include themify {
      background: themed("avatarBg");
    }

    color: white;

    &.idleWithAvatar {
      opacity: 0.5;
    }
  }
}

.MaterialAvatar__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.3);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &--circle {
    border-radius: 50%;
  }
}

.OwnerIcon__Container {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: $dark-sky-blue;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
