.container {
  padding: var(--kiwi-spacing-1) var(--kiwi-spacing-2) var(--kiwi-spacing-2);
}

.mainContent {
  background-color: var(--kiwi-colors-surface-surface-container-low);
  margin: var(--kiwi-spacing-1) 0 var(--kiwi-spacing-1);
  padding: var(--kiwi-spacing-1-5);
  border-radius: var(--kiwi-border-radius-md);
}

.splitBySelect {
  margin-left: calc(var(--kiwi-spacing-1) * -1);
}

.extractButton {
  margin-top: var(--kiwi-spacing-1);
}

.desc {
  @include kiwi-typography-body-sm;
  color: var(--kiwi-colors-surface-on-surface-variant);

  code {
    background-color: var(--kiwi-colors-surface-surface-container);
    padding: var(--kiwi-spacing-0-25) var(--kiwi-spacing-0-5);
    border-radius: var(--kiwi-border-radius-sm);
  }
}

.addRangeButton {
  margin-top: var(--kiwi-spacing-1);
}

.menuItemIcon {
  align-self: flex-start;
}

.menuItemTitle {
  @include kiwi-typography-label-md;
  color: var(--kiwi-colors-text-text-primary);
  margin-bottom: var(--kiwi-spacing-1);
}

.menuItemDesc {
  @include kiwi-typography-body-sm;
  color: var(--kiwi-colors-surface-on-surface-variant);
}