@import "../../constants/lumin-styles";

.UpdateTeam__custom {
  .Container__Content--message {
    min-width: unset;
    max-width: unset;
    margin-bottom: 24px;
  }

  .Container__Content--title {
    margin-bottom: 8px;
    font-weight: 600;
    margin-top: 24px;
  }

  .Container__Content--button .ButtonMaterial {
    height: 40px;
  }

  .Container__image {
    width: 61px;
    margin: 0 auto;
  }
}

.UpdateTeam__modalIcon {
  margin: 0 auto;
}