@import 'reskin/screens.scss';

.container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: var(--kiwi-spacing-4) var(--kiwi-spacing-2);
  background-color: var(--color-neutral-10);
  @include xs-screen {
    padding: var(--kiwi-spacing-4) 0;
  }
}

.paper {
  width: 100%;
  @include xs-screen {
    width: 640px;
  }
}

.chipWrapper {
  width: 100%;
  text-align: center;
}

.information {
  background: var(--kiwi-colors-surface-surface-container-lowest);
  margin-top: var(--kiwi-spacing-2);
  display: flex;
  padding: var(--kiwi-spacing-2) var(--kiwi-spacing-3);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--kiwi-spacing-1-5);
  align-self: stretch;
  border-radius: var(--kiwi-border-radius-md);
}

.title {
  color: var(--kiwi-colors-surface-on-surface);
  text-align: center;
  @include kiwi-typography-headline-xl;
  margin-top: var(--kiwi-spacing-3);
}

.header {
  @include kiwi-typography-body-lg-semibold;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.orgInformation {
  @include kiwi-typography-body-lg;
  display: flex;
  align-items: center;
  color: var(--kiwi-colors-surface-on-surface-variant);
}

.circleName {
  color: var(--kiwi-colors-surface-on-surface);
  @include kiwi-typography-headline-lg;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.informationWrapper {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: var(--kiwi-spacing-1-5);
  width: 100%;
}

.avatarGroup {
  padding-left: var(--kiwi-spacing-1-5);
  display: flex;
  align-items: center;
}

.circleInfoWrapper {
  display: flex;
  gap: var(--kiwi-spacing-1);
  height: 100%;
  width: 100%;
}

.info {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.description {
  @include kiwi-typography-body-lg;
  margin-top: var(--kiwi-spacing-2);
  margin-bottom: var(--kiwi-spacing-1);
  text-align: center;
}

.body {
  background: var(--kiwi-colors-surface-surface-container-lowest);
  display: flex;
  padding: var(--kiwi-spacing-2) var(--kiwi-spacing-3);
  align-items: flex-start;
  flex-direction: column;
  gap: var(--kiwi-spacing-2);
  align-self: stretch;
  border-radius: var(--kiwi-border-radius-md);
  color: var(--kiwi-colors-surface-on-surface);
}

.itemWrapper {
  display: flex;
  align-items: flex-start;
  gap: var(--kiwi-spacing-1-5);
  align-self: stretch;
}

.iconWrapper {
  background-color: var(--kiwi-colors-support-blue-background-highest);
  width: 28px;
  height: 28px;
  border-radius: var(--kiwi-border-radius-md);
  padding: 4px;
  color: var(--kiwi-colors-support-dark-blue-foreground-high);
}

.itemInfo {
  @include kiwi-typography-body-md;
}

.itemInfoList {
  @include kiwi-typography-body-md;
  &::before {
    content: '•';
    margin-right: var(--kiwi-spacing-1);
  }
}

.textWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--kiwi-spacing-0-5);
  align-self: stretch;
}

.listWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--kiwi-spacing-0-5);
  list-style: none;
}

.buttonWrapper {
  display: flex;
  gap: var(--kiwi-spacing-2);
  margin-top: var(--kiwi-spacing-3);
  justify-content: center;
  flex-direction: column;
  @include xs-screen {
    flex-direction: row;
  }
}

.tooltipWrapper {
  min-width: 0;
  margin: auto;
}