.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--kiwi-spacing-1);
}

.group {
  display: flex;
  flex-direction: column;
  gap: var(--kiwi-spacing-0-5);
}

.label {
  @include kiwi-typography-label-sm;
  color: var(--kiwi-colors-surface-on-surface-variant);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--kiwi-spacing-1);
}