/* Kiwi color tokens — synced from @lumin-ui design tokens */
:root {
  --kiwi-colors-core-on-primary: #ffffffff;
  --kiwi-colors-core-primary-container: #c4f0fdff;
  --kiwi-colors-core-on-primary-container: #012832ff;
  --kiwi-colors-core-secondary: #1c333dff;
  --kiwi-colors-core-on-secondary: #ffffffff;
  --kiwi-colors-core-secondary-container: #cde6f2ff;
  --kiwi-colors-core-on-secondary-container: #051e27ff;
  --kiwi-colors-core-tertiary: #2c2d4fff;
  --kiwi-colors-core-on-tertiary: #ffffffff;
  --kiwi-colors-core-tertiary-container: #e1dfffff;
  --kiwi-colors-core-on-tertiary-container: #171839ff;
  --kiwi-colors-core-primary: #035970ff;
  --kiwi-colors-add-on-primary-fixed: #c4f0fdff;
  --kiwi-colors-add-on-on-primary-fixed: #012832ff;
  --kiwi-colors-add-on-primary-fixed-dim: #8edef4ff;
  --kiwi-colors-add-on-on-primary-fixed-variant: #087191ff;
  --kiwi-colors-add-on-secondary-fixed: #cde6f2ff;
  --kiwi-colors-add-on-on-secondary-fixed: #051e27ff;
  --kiwi-colors-add-on-secondary-fixed-dim: #cde6f2ff;
  --kiwi-colors-add-on-on-secondary-fixed-variant: #334a54ff;
  --kiwi-colors-add-on-tertiary-fixed: #d0ccffff;
  --kiwi-colors-add-on-on-tertiary-fixed: #160f57ff;
  --kiwi-colors-add-on-tertiary-fixed-dim: #b8b2ffff;
  --kiwi-colors-add-on-on-tertiary-fixed-variant: #4538cbff;
  --kiwi-colors-add-on-shadow: #000000ff;
  --kiwi-colors-add-on-scrim: #000000ff;
  --kiwi-colors-add-on-background-fixed: #ffffffff;
  --kiwi-colors-semantic-error: #bf0b00ff;
  --kiwi-colors-semantic-on-error: #ffffffff;
  --kiwi-colors-semantic-error-container: #ffedeaff;
  --kiwi-colors-semantic-on-error-container: #400100ff;
  --kiwi-colors-semantic-information: #1f5abdff;
  --kiwi-colors-semantic-on-information: #ffffffff;
  --kiwi-colors-semantic-information-container: #e9f1feff;
  --kiwi-colors-semantic-on-information-container: #081a3bff;
  --kiwi-colors-semantic-warning: #f7be00ff;
  --kiwi-colors-semantic-on-warning: #684f00ff;
  --kiwi-colors-semantic-warning-container: #ffefcfff;
  --kiwi-colors-semantic-on-warning-container: #251a00ff;
  --kiwi-colors-semantic-success: #34863fff;
  --kiwi-colors-semantic-on-success: #ffffffff;
  --kiwi-colors-semantic-success-container: #f2fceeff;
  --kiwi-colors-semantic-on-success-container: #0b200bff;
  --kiwi-colors-surface-outline: #a6abaeff;
  --kiwi-colors-surface-background: #ffffffff;
  --kiwi-colors-surface-surface: #f8f9fbff;
  --kiwi-colors-surface-on-surface: #191c1dff;
  --kiwi-colors-surface-surface-variant: #dee3e6ff;
  --kiwi-colors-surface-on-surface-variant: #42474aff;
  --kiwi-colors-surface-inverse-surface: #2e3132ff;
  --kiwi-colors-surface-inverse-on-surface: #ffffffff;
  --kiwi-colors-surface-outline-variant: #d6dbdeff;
  --kiwi-colors-surface-surface-container-highest: #e1e2e4ff;
  --kiwi-colors-surface-surface-container-high: #e7e8eaff;
  --kiwi-colors-surface-surface-container: #edeef0ff;
  --kiwi-colors-surface-surface-container-low: #f3f4f6ff;
  --kiwi-colors-surface-surface-container-lowest: #ffffffff;
  --kiwi-colors-surface-surface-bright: #ffffffff;
  --kiwi-colors-surface-surface-dim: #dcdddfff;
  --kiwi-colors-surface-on-surface-low: #757779ff;
  --kiwi-colors-surface-on-surface-disabled: #a9abadff;
  --kiwi-colors-surface-surface-container-disabled: #eff0f2ff;
  --kiwi-colors-surface-outline-low: #e4e8ebff;
  --kiwi-colors-custom-brand-lumin-lumin: #f2385aff;
  --kiwi-colors-custom-brand-lumin-on-lumin: #ffffffff;
  --kiwi-colors-custom-brand-lumin-lumin-container: #fcf0eeff;
  --kiwi-colors-custom-brand-lumin-on-lumin-container: #40000dff;
  --kiwi-colors-custom-brand-lumin-lumin-surface-container: #feacbaff;
  --kiwi-colors-custom-brand-lumin-lumin-surface-container-high: #40000dff;
  --kiwi-colors-custom-brand-lumin-lumin-surface-container-low: #ffe0e5ff;
  --kiwi-colors-custom-brand-lumin-on-lumin-surface: #40000dff;
  --kiwi-colors-custom-brand-lumin-inverse-on-lumin-surface: #fbece9ff;
  --kiwi-colors-custom-brand-lumin-lumin-fixed: #f2385aff;
  --kiwi-colors-custom-brand-lumin-on-lumin-fixed: #ffffffff;
  --kiwi-colors-custom-brand-lumin-lumin-container-fixed: #ffe0e5ff;
  --kiwi-colors-custom-brand-lumin-on-lumin-container-fixed: #40000dff;
  --kiwi-colors-custom-brand-lumin-lumin-surface: #fff8f7ff;
  --kiwi-colors-custom-brand-sign-sign: #786effff;
  --kiwi-colors-custom-brand-sign-on-sign: #ffffffff;
  --kiwi-colors-custom-brand-sign-sign-container: #b8b2ffff;
  --kiwi-colors-custom-brand-sign-on-sign-container: #160f57ff;
  --kiwi-colors-custom-brand-sign-sign-surface-container-low: #e3e0ffff;
  --kiwi-colors-custom-brand-sign-on-sign-surface: #160f57ff;
  --kiwi-colors-custom-brand-sign-inverse-on-sign-surface: #e8e5ffff;
  --kiwi-colors-custom-brand-sign-sign-surface-container-high: #160f57ff;
  --kiwi-colors-custom-brand-sign-sign-surface-container: #d0ccffff;
  --kiwi-colors-custom-brand-sign-sign-surface: #f7f2ffff;
  --kiwi-colors-custom-brand-sign-sign-fixed: #786effff;
  --kiwi-colors-custom-brand-sign-on-sign-fixed: #ffffffff;
  --kiwi-colors-custom-brand-sign-sign-container-fixed: #e3e0ffff;
  --kiwi-colors-custom-brand-sign-on-sign-container-fixed: #160f57ff;
  --kiwi-colors-custom-brand-signature-signature-fixed: #000000ff;
  --kiwi-colors-custom-brand-signature-signature-container: #f8fafcff;
  --kiwi-colors-custom-brand-signature-on-signature-container: #192833ff;
  --kiwi-colors-custom-brand-signature-on-signature-container-variant: #41474dff;
  --kiwi-colors-custom-brand-tools-collaboration: #00c9b0ff;
  --kiwi-colors-custom-brand-tools-on-collaboration: #00201bff;
  --kiwi-colors-custom-brand-tools-collaboration-container: #dbfff7ff;
  --kiwi-colors-custom-brand-tools-on-collaboration-container: #00382fff;
  --kiwi-colors-custom-brand-tools-collaboration-fixed: #5ffadfff;
  --kiwi-colors-custom-brand-tools-on-collaboration-fixed: #00201bff;
  --kiwi-colors-custom-brand-tools-collaboration-surface: #f3fffaff;
  --kiwi-colors-custom-brand-tools-unlock: #4bb6e8ff;
  --kiwi-colors-custom-brand-tools-on-unlock: #001e2cff;
  --kiwi-colors-custom-brand-tools-unlock-container: #d9f2ffff;
  --kiwi-colors-custom-brand-tools-on-unlock-container: #003549ff;
  --kiwi-colors-custom-brand-tools-unlock-fixed: #c3e8ffff;
  --kiwi-colors-custom-brand-tools-on-unlock-fixed: #001e2cff;
  --kiwi-colors-custom-brand-tools-unlock-surface: #f5fbffff;
  --kiwi-colors-custom-brand-tools-pdfreader: #33b9e3ff;
  --kiwi-colors-custom-brand-tools-on-pdfreader: #001f29ff;
  --kiwi-colors-custom-brand-tools-pdfreader-container: #c9f2ffff;
  --kiwi-colors-custom-brand-tools-on-pdfreader-container: #003545ff;
  --kiwi-colors-custom-brand-tools-pdfreader-fixed: #baeaffff;
  --kiwi-colors-custom-brand-tools-on-pdfreader-fixed: #001f29ff;
  --kiwi-colors-custom-brand-tools-pdfreader-surface: #eefaffff;
  --kiwi-colors-custom-brand-tools-annotation: #66a3ffff;
  --kiwi-colors-custom-brand-tools-on-annotation: #001a41ff;
  --kiwi-colors-custom-brand-tools-annotation-container: #ebf2ffff;
  --kiwi-colors-custom-brand-tools-on-annotation-container: #002e68ff;
  --kiwi-colors-custom-brand-tools-annotation-fixed: #bed8ffff;
  --kiwi-colors-custom-brand-tools-on-annotation-fixed: #001a41ff;
  --kiwi-colors-custom-brand-tools-annotation-surface: #f5f8ffff;
  --kiwi-colors-custom-brand-tools-split: #7eda9aff;
  --kiwi-colors-custom-brand-tools-on-split: #00210dff;
  --kiwi-colors-custom-brand-tools-split-container: #defce5ff;
  --kiwi-colors-custom-brand-tools-on-split-container: #00391bff;
  --kiwi-colors-custom-brand-tools-split-fixed: #c3ffd0ff;
  --kiwi-colors-custom-brand-tools-on-split-fixed: #00210dff;
  --kiwi-colors-custom-brand-tools-split-surface: #f1fef4ff;
  --kiwi-colors-custom-brand-tools-esign: #ecc22aff;
  --kiwi-colors-custom-brand-tools-on-esign: #231b00ff;
  --kiwi-colors-custom-brand-tools-esign-container: #fff6d6ff;
  --kiwi-colors-custom-brand-tools-on-esign-container: #3c2f00ff;
  --kiwi-colors-custom-brand-tools-esign-fixed: #f6e298ff;
  --kiwi-colors-custom-brand-tools-on-esign-fixed: #231b00ff;
  --kiwi-colors-custom-brand-tools-esign-surface: #fffaebff;
  --kiwi-colors-custom-brand-tools-merge: #d1b094ff;
  --kiwi-colors-custom-brand-tools-on-merge: #201913ff;
  --kiwi-colors-custom-brand-tools-merge-container: #ffebdbff;
  --kiwi-colors-custom-brand-tools-on-merge-container: #33281fff;
  --kiwi-colors-custom-brand-tools-merge-fixed: #fbd7baff;
  --kiwi-colors-custom-brand-tools-on-merge-fixed: #201913ff;
  --kiwi-colors-custom-brand-tools-merge-surface: #fff9f5ff;
  --kiwi-colors-custom-brand-tools-convert: #ff9e42ff;
  --kiwi-colors-custom-brand-tools-on-convert: #2e1500ff;
  --kiwi-colors-custom-brand-tools-convert-container: #fff2e5ff;
  --kiwi-colors-custom-brand-tools-on-convert-container: #4c2700ff;
  --kiwi-colors-custom-brand-tools-convert-fixed: #ffd3a8ff;
  --kiwi-colors-custom-brand-tools-on-convert-fixed: #2e1500ff;
  --kiwi-colors-custom-brand-tools-convert-surface: #fffaf5ff;
  --kiwi-colors-custom-brand-tools-fillableform: #ff7578ff;
  --kiwi-colors-custom-brand-tools-on-fillableform: #410008ff;
  --kiwi-colors-custom-brand-tools-fillableform-container: #ffe5e8ff;
  --kiwi-colors-custom-brand-tools-on-fillableform-container: #680013ff;
  --kiwi-colors-custom-brand-tools-fillableform-fixed: #ffc8c9ff;
  --kiwi-colors-custom-brand-tools-on-fillableform-fixed: #410008ff;
  --kiwi-colors-custom-brand-tools-fillableform-surface: #fff5f6ff;
  --kiwi-colors-custom-brand-tools-integration: #fb8c7eff;
  --kiwi-colors-custom-brand-tools-on-integration: #410001ff;
  --kiwi-colors-custom-brand-tools-integration-container: #ffe8e8ff;
  --kiwi-colors-custom-brand-tools-on-integration-container: #5f150fff;
  --kiwi-colors-custom-brand-tools-integration-fixed: #ffdad5ff;
  --kiwi-colors-custom-brand-tools-on-integration-fixed: #410001ff;
  --kiwi-colors-custom-brand-tools-integration-surface: #fff7f6ff;
  --kiwi-colors-custom-brand-tools-editpdf: #f78aa5ff;
  --kiwi-colors-custom-brand-tools-on-editpdf: #3f0018ff;
  --kiwi-colors-custom-brand-tools-editpdf-container: #ffeceeff;
  --kiwi-colors-custom-brand-tools-on-editpdf-container: #5f112cff;
  --kiwi-colors-custom-brand-tools-editpdf-fixed: #ffd9dfff;
  --kiwi-colors-custom-brand-tools-on-editpdf-fixed: #3f0018ff;
  --kiwi-colors-custom-brand-tools-editpdf-surface: #fff5f7ff;
  --kiwi-colors-custom-brand-tools-ocr: #ff81c0ff;
  --kiwi-colors-custom-brand-tools-on-ocr: #3d0025ff;
  --kiwi-colors-custom-brand-tools-ocr-container: #ffe3edff;
  --kiwi-colors-custom-brand-tools-on-ocr-container: #63003fff;
  --kiwi-colors-custom-brand-tools-ocr-fixed: #ffd1e3ff;
  --kiwi-colors-custom-brand-tools-on-ocr-fixed: #3d0025ff;
  --kiwi-colors-custom-brand-tools-ocr-surface: #fff5f7ff;
  --kiwi-colors-custom-brand-tools-compress: #cd96edff;
  --kiwi-colors-custom-brand-tools-on-compress: #2f004bff;
  --kiwi-colors-custom-brand-tools-compress-container: #f7e8ffff;
  --kiwi-colors-custom-brand-tools-on-compress-container: #491768ff;
  --kiwi-colors-custom-brand-tools-compress-fixed: #eac7ffff;
  --kiwi-colors-custom-brand-tools-on-compress-fixed: #2f004bff;
  --kiwi-colors-custom-brand-tools-compress-surface: #fcf5ffff;
  --kiwi-colors-custom-role-web-surface-blue-activated: #d7f4feff;
  --kiwi-colors-custom-role-web-surface-var-subtext: #618298ff;
  --kiwi-colors-custom-role-web-surface-blue: #edfbffff;
  --kiwi-colors-custom-role-web-thumbnail-blue: #b2ecfcff;
  --kiwi-colors-custom-role-web-surface-deepblue: #1aa7caff;
  --kiwi-colors-custom-role-web-surface-var-background: #829db0ff;
  --kiwi-colors-custom-role-web-surface-blue-hover: #e5f9ffff;
  --kiwi-colors-custom-role-web-thumbnail-blue-1: #8edef4ff;
  --kiwi-colors-custom-role-dropbox-dropbox: #ffffffff;
  --kiwi-colors-custom-role-avatar-blue: #c8f2ffff;
  --kiwi-colors-custom-role-avatar-cyan: #9cffdbff;
  --kiwi-colors-custom-role-avatar-green: #c9ffc8ff;
  --kiwi-colors-custom-role-avatar-yellow: #fff6c8ff;
  --kiwi-colors-custom-role-avatar-red: #ffc8c8ff;
  --kiwi-colors-custom-role-avatar-violet: #c9c8ffff;
  --kiwi-colors-custom-role-avatar-label-fixed: #192833ff;
  --kiwi-colors-custom-role-avatar-inverse-label-fixed: #ffffffff;
  --kiwi-colors-custom-role-ai-on-button-container: #192833ff;
  --kiwi-colors-custom-role-ai-button-container-gra2: #ffccd4ff;
  --kiwi-colors-custom-role-ai-button-container-gra1: #e8e5ffff;
  --kiwi-colors-support-red-foreground-highest: #57080cff;
  --kiwi-colors-support-red-foreground-high: #a61720ff;
  --kiwi-colors-support-red-foreground-medium: #ff6b65ff;
  --kiwi-colors-support-red-foreground-low: #ffbfb9ff;
  --kiwi-colors-support-red-foreground-lowest: #fef4f3ff;
  --kiwi-colors-support-red-background-highest: #fef4f3ff;
  --kiwi-colors-support-red-background-high: #ffe4e1ff;
  --kiwi-colors-support-red-background-medium: #ff9e96ff;
  --kiwi-colors-support-red-background-low: #d92f35ff;
  --kiwi-colors-support-red-background-lowest: #57080cff;
  --kiwi-colors-support-orange-foreground-highest: #472000ff;
  --kiwi-colors-support-orange-foreground-high: #894500ff;
  --kiwi-colors-support-orange-foreground-medium: #f27e00ff;
  --kiwi-colors-support-orange-foreground-low: #f9c5a3ff;
  --kiwi-colors-support-orange-foreground-lowest: #fdf5f0ff;
  --kiwi-colors-support-orange-foreground-highest-2: #472000ff;
  --kiwi-colors-support-orange-background-highest: #fdf5f0ff;
  --kiwi-colors-support-orange-background-high: #fce6d9ff;
  --kiwi-colors-support-orange-background-medium: #f7a871ff;
  --kiwi-colors-support-orange-background-low: #b85e00ff;
  --kiwi-colors-support-orange-background-lowest: #472000ff;
  --kiwi-colors-support-yellow-foreground-highest: #3a2a00ff;
  --kiwi-colors-support-yellow-foreground-high: #725500ff;
  --kiwi-colors-support-yellow-foreground-medium: #cb9900ff;
  --kiwi-colors-support-yellow-foreground-low: #e8ce99ff;
  --kiwi-colors-support-yellow-foreground-lowest: #faf6efff;
  --kiwi-colors-support-yellow-background-highest: #faf6efff;
  --kiwi-colors-support-yellow-background-high: #f4ead5ff;
  --kiwi-colors-support-yellow-background-medium: #dfb65eff;
  --kiwi-colors-support-yellow-background-low: #9a7300ff;
  --kiwi-colors-support-yellow-background-lowest: #3a2a00ff;
  --kiwi-colors-support-lime-foreground-highest: #2c3000ff;
  --kiwi-colors-support-lime-foreground-high: #596000ff;
  --kiwi-colors-support-lime-foreground-medium: #9fac00ff;
  --kiwi-colors-support-lime-foreground-low: #cfd8a0ff;
  --kiwi-colors-support-lime-foreground-lowest: #f6f8efff;
  --kiwi-colors-support-lime-background-highest: #f6f8efff;
  --kiwi-colors-support-lime-background-high: #eaeed7ff;
  --kiwi-colors-support-lime-background-medium: #bac56aff;
  --kiwi-colors-support-lime-background-low: #788200ff;
  --kiwi-colors-support-lime-background-lowest: #2c3000ff;
  --kiwi-colors-support-green-foreground-highest: #003809ff;
  --kiwi-colors-support-green-foreground-high: #006e1aff;
  --kiwi-colors-support-green-foreground-medium: #47be53ff;
  --kiwi-colors-support-green-foreground-low: #b3dfb4ff;
  --kiwi-colors-support-green-foreground-lowest: #f2f9f2ff;
  --kiwi-colors-support-green-background-highest: #f2f9f2ff;
  --kiwi-colors-support-green-background-high: #dff1dfff;
  --kiwi-colors-support-green-background-medium: #8bd18dff;
  --kiwi-colors-support-green-background-low: #009426ff;
  --kiwi-colors-support-green-background-lowest: #003809ff;
  --kiwi-colors-support-teal-foreground-highest: #00352bff;
  --kiwi-colors-support-teal-foreground-high: #004f41ff;
  --kiwi-colors-support-teal-foreground-medium: #00bc9dff;
  --kiwi-colors-support-teal-foreground-low: #9de2cfff;
  --kiwi-colors-support-teal-foreground-lowest: #f0f9f6ff;
  --kiwi-colors-support-teal-background-highest: #f0f9f6ff;
  --kiwi-colors-support-teal-background-high: #d7f2eaff;
  --kiwi-colors-support-teal-background-medium: #5cd5b8ff;
  --kiwi-colors-support-teal-background-low: #008f76ff;
  --kiwi-colors-support-teal-background-lowest: #00352bff;
  --kiwi-colors-support-turquoise-foreground-highest: #003338ff;
  --kiwi-colors-support-turquoise-foreground-high: #00666fff;
  --kiwi-colors-support-turquoise-foreground-medium: #00b7c5ff;
  --kiwi-colors-support-turquoise-foreground-low: #95e0e9ff;
  --kiwi-colors-support-turquoise-foreground-lowest: #eff9faff;
  --kiwi-colors-support-turquoise-background-highest: #eff9faff;
  --kiwi-colors-support-turquoise-background-high: #d5f1f5ff;
  --kiwi-colors-support-turquoise-background-medium: #48d2e0ff;
  --kiwi-colors-support-turquoise-background-low: #008a96ff;
  --kiwi-colors-support-turquoise-background-lowest: #003338ff;
  --kiwi-colors-support-blue-foreground-highest: #003147ff;
  --kiwi-colors-support-blue-foreground-high: #006189ff;
  --kiwi-colors-support-blue-foreground-medium: #00aff1ff;
  --kiwi-colors-support-blue-foreground-low: #a1dafcff;
  --kiwi-colors-support-blue-foreground-lowest: #f0f8fdff;
  --kiwi-colors-support-blue-background-highest: #f0f8fdff;
  --kiwi-colors-support-blue-background-high: #d9effdff;
  --kiwi-colors-support-blue-background-medium: #69c8fdff;
  --kiwi-colors-support-blue-background-low: #0084b8ff;
  --kiwi-colors-support-blue-background-lowest: #003147ff;
  --kiwi-colors-support-dark-blue-foreground-highest: #102662ff;
  --kiwi-colors-support-dark-blue-foreground-high: #284fbaff;
  --kiwi-colors-support-dark-blue-foreground-medium: #739effff;
  --kiwi-colors-support-dark-blue-foreground-low: #bcd1ffff;
  --kiwi-colors-support-dark-blue-foreground-lowest: #f3f7feff;
  --kiwi-colors-support-dark-blue-background-highest: #f3f7feff;
  --kiwi-colors-support-dark-blue-background-high: #e2ebffff;
  --kiwi-colors-support-dark-blue-background-medium: #9cbcffff;
  --kiwi-colors-support-dark-blue-background-low: #3c6ef1ff;
  --kiwi-colors-support-dark-blue-background-lowest: #102662ff;
  --kiwi-colors-support-violet-foreground-highest: #321b5cff;
  --kiwi-colors-support-violet-foreground-high: #643bafff;
  --kiwi-colors-support-violet-foreground-medium: #ab88ffff;
  --kiwi-colors-support-violet-foreground-low: #d4c8feff;
  --kiwi-colors-support-violet-foreground-lowest: #f7f5fdff;
  --kiwi-colors-support-violet-background-highest: #f7f5fdff;
  --kiwi-colors-support-violet-background-high: #ece8feff;
  --kiwi-colors-support-violet-background-medium: #c2adffff;
  --kiwi-colors-support-violet-background-low: #8756e4ff;
  --kiwi-colors-support-violet-background-lowest: #321b5cff;
  --kiwi-colors-support-purple-foreground-highest: #46114aff;
  --kiwi-colors-support-purple-foreground-high: #87298eff;
  --kiwi-colors-support-purple-foreground-medium: #d974dfff;
  --kiwi-colors-support-purple-foreground-low: #ebc1edff;
  --kiwi-colors-support-purple-foreground-lowest: #fbf4fbff;
  --kiwi-colors-support-purple-background-highest: #fbf4fbff;
  --kiwi-colors-support-purple-background-high: #f6e5f7ff;
  --kiwi-colors-support-purple-background-medium: #e3a2e6ff;
  --kiwi-colors-support-purple-background-low: #b341bbff;
  --kiwi-colors-support-purple-background-lowest: #46114aff;
  --kiwi-colors-support-pink-foreground-highest: #52082fff;
  --kiwi-colors-support-pink-foreground-high: #9e185fff;
  --kiwi-colors-support-pink-foreground-medium: #f569a7ff;
  --kiwi-colors-support-pink-foreground-low: #fabed4ff;
  --kiwi-colors-support-pink-foreground-lowest: #fdf4f7ff;
  --kiwi-colors-support-pink-background-highest: #fdf4f7ff;
  --kiwi-colors-support-pink-background-high: #fde3ecff;
  --kiwi-colors-support-pink-background-medium: #f89cc0ff;
  --kiwi-colors-support-pink-background-low: #cf2f80ff;
  --kiwi-colors-support-pink-background-lowest: #52082fff;
}
