@import 'reskin/scrollbar.scss';

.container {
  max-height: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 1;
  padding-bottom: var(--kiwi-spacing-1);
  transition: max-height 400ms ease, opacity 400ms ease, padding-bottom 400ms ease;

  @include scrollbar-reskin;

  &:where([data-collapsed='true']) {
    opacity: 0;
    max-height: 0px;
    padding-bottom: 0;
  }
}
