.title {
  @include kiwi-typography-headline-xl;
}

.description {
  @include kiwi-typography-body-md;
}

.logo {
  width: var(--kiwi-spacing-20);
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--kiwi-spacing-2);
}

.buttonsContainer {
  display: flex;
  gap: var(--kiwi-spacing-2);
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: var(--kiwi-spacing-4);
}