@import "../../constants/lumin-styles";

.PermissionList {
  &__remove span {
    color: var(--color-primary-50);
  }
}

.ShareListItem {
  padding: 6px 8px;
  border-radius: var(--border-radius-primary);
  align-items: center;
  transition: background 0.3s ease;

  &:hover {
    background: var(--color-neutral-10);

    @include themify {
      background: themed("sharedItemHover");
    }
  }

  &__popper {
    max-width: 200px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__text {
      display: flex;
      flex-direction: column;
      padding-left: 8px;
      max-width: 100%;
      min-width: 0;

      @include tablet-up {
        padding-left: 12px;
      }

      .primary p {
        font-family: var(--font-primary);
        font-weight: 600;
        color: var(--color-neutral-100);
        margin-bottom: 2px;
        font-size: 12px;
        line-height: 16px;
        white-space: pre-wrap;

        @include tablet-up {
          font-size: 14px;
          line-height: 20px;
          white-space: nowrap;
        }

        @include themify {
          color: themed("textColor");
        }
      }

      .pending-user p {
        color: var(--color-neutral-50);
        font-family: var(--font-primary);
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;

        @include tablet-up {
          font-size: 14px;
          line-height: 20px;
        }
      }

      .secondary p {
        font-family: var(--font-primary);
        font-size: 12px;
        line-height: 16px;
        color: var(--color-neutral-80);
        font-weight: 400;

        @include themify {
          color: themed("textColorSecondary");
        }
        @include mobile {
          font-size: 10px;
          line-height: 12px;
        }
      }
    }
  }

  &__permission {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.ShareListItem__role {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  padding-right: 8px;

  @include medium-tablet {
    font-size: 14px;
    line-height: 20px;
  }

  @include themify {
    color: themed("textColor");
  }
}

.ShareListItem--disabled {
  opacity: 0.5;
}

.ShareListItem--selected {
  background: var(--color-primary-30);
  @include themify {
    background: themed("sharedItemSelected");
  }
  &:hover {
    background: var(--color-primary-30);
    @include themify {
      background: themed("sharedItemSelected");
    }
  }
}

.ShareListItem--highlight {
  animation: fadeoutItemShare 5s;
  @include themify {
    animation: themed("fadeoutItem");
  }
}

.ShareListItem--request-access {
  @include mobile {
    height: auto;
    .ShareListItem__row__text {
      .primary {
        p {
          white-space: pre-wrap;
        }
      }
    }
  }
}

.ShareListItem__permission--request {
  @include mobile {
    justify-content: flex-start;
    padding-left: 34px;
    margin-top: 2px;
  }
}

.ShareListItem__role--owner {
  color: var(--color-neutral-60);

  @include themify {
    color: themed("shareOwnerRoleText");
  }
}