@import 'reskin/scrollbar.scss';

.dropdown {
  padding: var(--popover-padding);
  background-color: var(--kiwi-colors-surface-surface-container-lowest);
  width: var(--popover-width);
  border: none;
  @include scrollbar-reskin;
}
