.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnailDefault {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--kiwi-colors-surface-surface);
}

.imageFit {
  object-fit: cover;
  width: var(--kiwi-spacing-7);
  height: var(--kiwi-spacing-7);
}
