@import 'reskin/screens.scss';

.container {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(220px, 1fr) 204px 120px 32px;
  align-items: center;
  justify-content: space-between;
  min-height: 49px;
  padding: var(--kiwi-spacing-1);
  border-bottom: 1px solid var(--kiwi-colors-surface-surface-container-high);
  column-gap: var(--kiwi-spacing-0-5);
  position: relative;
  cursor: pointer;

  &[data-personal-route="true"] {
    grid-template-columns: minmax(220px, 1fr) 120px 32px;
  }

  @include xl-screen {
    column-gap: var(--kiwi-spacing-2);
    grid-template-columns: minmax(220px, 1fr) 236px 128px 32px;

    &[data-personal-route="true"] {
      grid-template-columns: minmax(220px, 1fr) 128px 32px;
    }
  }

  & > * {
    z-index: 2;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--kiwi-colors-custom-role-web-surface-var-subtext);
    opacity: var(--kiwi-opacity-state-layer-none);
    transition: var(--default-web-transition);
  }

  &:hover::after {
    opacity: var(--kiwi-opacity-state-layer-hovered);
  }

  &:focus::after {
    opacity: var(--kiwi-opacity-state-layer-hovered);
  }

  &:active::after {
    opacity: var(--kiwi-opacity-state-layer-pressed);
  }

  &.selected {
    background-color: var(--kiwi-colors-custom-role-web-surface-blue);

    &::after {
      display: none;
    }
  }
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--kiwi-spacing-2);

  .info {
    display: flex;
    align-items: center;
    min-width: 0;
  }

  .status {
    display: grid;
    grid-template-columns: 36px;
    column-gap: var(--kiwi-spacing-0-5);

    & > * {
      width: max-content;
    }

    @include xl-screen {
      grid-template-columns: 48px;
    }

    &.overTimeLimit {
      grid-template-columns: 76px 36px;

      @include xl-screen {
        grid-template-columns: 88px 48px;
      }
    }
  }
}

.locationInfo {
  @include kiwi-typography-body-md;
  color: var(--kiwi-colors-surface-on-surface-variant);
  display: block;
  max-width: 100%;

  &::after {
    background-color: var(--kiwi-colors-surface-on-surface-variant);
  }

  &:hover,
  &:active {
    color: var(--kiwi-colors-surface-on-surface);
  }

  .label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.lastUpdatedCol {
  @include kiwi-typography-body-md;
  color: var(--kiwi-colors-surface-on-surface-variant);
  padding-left: var(--kiwi-spacing-1);
}
