.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--kiwi-spacing-1);
  cursor: pointer;
  gap: var(--kiwi-spacing-1-25);

  border-radius: var(--kiwi-border-radius-md);
  background-color: transparent;
  transition: var(--default-web-transition);
  position: relative;

  &.selected {
    background-color: var(--kiwi-colors-custom-role-web-surface-blue);

    .rightSection {
      visibility: visible;
      opacity: 1;
    }

    &::after {
      content: none;
    }
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--kiwi-border-radius-md);
    transition: var(--default-web-transition);
    opacity: var(--kiwi-opacity-state-layer-none);
    background-color: var(--kiwi-colors-surface-on-surface);
  }

  &:active::after {
    opacity: var(--kiwi-opacity-state-layer-pressed);
  }
  
  &:hover::after {
    opacity: var(--kiwi-opacity-state-layer-hovered);
  }
}

.leftSection {
  display: flex;
  align-items: center;

  .name {
    @include kiwi-typography-body-md;
    color: var(--kiwi-colors-surface-on-surface);

    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    word-break: break-all;
  }
}

.rightSection {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: var(--default-web-transition);
}