.content {
  color: var(--kiwi-colors-surface-on-surface-variant);
  @include kiwi-typography-body-md;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: var(--kiwi-spacing-2);
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: var(--kiwi-spacing-2);
  margin-top: var(--kiwi-spacing-1);
}

.errorBox {
  padding: var(--kiwi-spacing-1);
  border-radius: var(--kiwi-border-radius-md);
  background: var(--kiwi-colors-semantic-error-container);
  color: var(--kiwi-colors-semantic-error);
  @include kiwi-typography-body-md;
}