@import '../../../constants/lumin-styles.scss';

.PersonalDashboardInsights__Documents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 120px;
  @include small-desktop-up{
    justify-content: flex-start;
    padding: 4px 0 16px;
  }
  @include mobile() {
    flex-direction: column;
  }
}
.PersonalDashboardInsights__Documents--disabled {
  justify-content: center;
}
.PersonalDashboardInsights__Documents .PersonalDashboardInsights__DocumentsCount {
  min-width: 150px;
  @include mobile() {
    width: 100%;
  }
}
.PersonalDashboardInsights__Documents .PersonalDashboardInsights__DocumentsChart {
  @include small-desktop{
    padding-left: 56px;
  }
  @include mobile() {
    margin-top: 24px;
    width: 100%;
    padding-left: 0;
  }
}

.PersonalDashboardInsights__Activities {
  margin-top: 20px;
  @include small-desktop-up() {
    min-height: 320px;
  }
}
