@import 'reskin/screens.scss';

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--kiwi-spacing-1-5) var(--kiwi-spacing-1) 0;
  gap: var(--kiwi-spacing-1);
  border: none;
}

.nonDesktopWrapper {
  padding-top: var(--kiwi-spacing-2-5);
  border-left: var(--border-secondary);
}

.dividerWrapper {
  padding: 0 var(--kiwi-spacing-1-25);
}

.appsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--kiwi-spacing-0-25);
}