

.defaultIcon {
  visibility: visible;
  opacity: 1;
}

.hoveredIcon {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all var(--editor-transition);
}

.container {
  border: none;
  background: none;
  outline: none;
  position: relative;
  padding: 0;
  margin: 0;
  &:hover {
    cursor: pointer;
    .hoveredIcon {
      visibility: visible;
      opacity: 1;
    }
  }
}