# PUBLIC ENV - Which will be injected to js/html at build time.
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_KRATOS_URL=http://localhost:4433
NEXT_PUBLIC_HYDRA_PUBLIC_URL=http://localhost:4444
NEXT_PUBLIC_AWS_REGION=us-east-1
NEXT_PUBLIC_S3_PROFILES_BUCKET=lumin-profiles-local
NEXT_PUBLIC_DROPBOX_PROVIDER_ID=dropbox
NEXT_PUBLIC_USER_SCHEMA_ID=user_v0
NEXT_PUBLIC_RECAPTCHA_V2_SITE_KEY=google-recaptcha-v2
NEXT_PUBLIC_GA4_MEASUREMENT_ID=G-DD33R83B11
NEXT_PUBLIC_GA4_API_SECRET=7-arT1O-Tf6MCtVJ97wYnQ

# PRIVATE ENV - Which will be only available in nodejs
HYDRA_ADMIN_URL=http://localhost:4445
LUMIN_AWS_ACCESS_KEY_ID=<same as your lumin-web-backend aws access key>
LUMIN_AWS_SECRET_ACCESS_KEY=<same as your lumin-web-backend aws secret key>
LUMIN_DOMAIN=localhost
LUMIN_OIDC_GOOGLE_CLIENT_ID=<contact hieudm@luminpdf.com for key sharing>
LUMIN_OIDC_GOOGLE_CLIENT_SECRET=<contact hieudm@luminpdf.com for key sharing>
LUMIN_OIDC_DROPBOX_CLIENT_ID=<contact hieudm@luminpdf.com for key sharing>
LUMIN_OIDC_DROPBOX_CLIENT_SECRET=<contact hieudm@luminpdf.com for key sharing>
LUMIN_OIDC_XERO_CLIENT_ID=<contact hieudm@luminpdf.com for key sharing>
LUMIN_OIDC_XERO_CLIENT_SECRET=<contact hieudm@luminpdf.com for key sharing>
LUMIN_KRATOS_API_KEY=ea5824cd-66ed-4222-9550-20a29bf25219
LUMIN_COOKIE_SECRET=PLEASE-CHANGE-ME-I-AM-VERY-INSECURE
LUMIN_CIPHER_SECRET=32-LONG-SECRET-NOT-SECURE-AT-ALL
LUMIN_SMTP_URL=<contact hieudm@luminpdf.com for key sharing>

# LUMIN SERVICE URLs
LUMIN_KRATOS_ADMIN_URL=http://localhost:4434
LUMIN_WEB_APP_URL=http://localhost:3000
LUMIN_WEB_BACKEND_URL=http://host.docker.internal:4200
# LUMIN_ADMIN_DASHBOARD_URL=http://localhost:3200
LUMIN_AUTH_URL=http://localhost:3300
NEXT_PUBLIC_STATIC_URL=http://localhost:8000
LUMIN_HYDRA_PUBLIC_URL=http://localhost:4444
LUMIN_SESSION_LIFESPAN=15m
# Rate limiting (must be a valid URL; default local Redis port is 6379)
LUMIN_REDIS_URL=redis://127.0.0.1:6379

# POSTGRESQL CREDENTIALS
LUMIN_KRATOS_POSTGRES_URL=postgres://kratos@kratos-postgres:5432/kratos?sslmode=disable&max_conns=20&max_idle_conns=4
DNS=$LUMIN_KRATOS_POSTGRES_URL