.container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: var(--kiwi-spacing-2);
  max-width: 286px;
}

.title {
  @include kiwi-typography-title-sm;
  color: var(--kiwi-colors-surface-on-surface);
}

.paperContainer {
  background-color: var(--kiwi-colors-surface-surface-container-low);
  padding: var(--kiwi-spacing-1);
}

.description {
  @include kiwi-typography-body-sm;
  color: var(--kiwi-colors-surface-on-surface-variant);
}

.inputContainer {
  display: flex;
  gap: var(--kiwi-spacing-1-25);
  margin-top: var(--kiwi-spacing-1);
}

.select {
  max-width: 96px;
  width: 100%;
}

.checkbox {
  margin-top: var(--kiwi-spacing-1);
}

.checkboxLabel {
  @include kiwi-typography-body-sm;
  padding-left: var(--kiwi-spacing-0-5);
  color: var(--kiwi-colors-surface-on-surface);
}

.checkboxLabelDisabled {
  opacity: var(--kiwi-opacity-disabled-on-container);
}
