@import "../../constants/lumin-styles";

.SuccessModal {
  > div > div {
    background: none;
    position: relative;
    padding: 100px;
    box-shadow: none !important;
    border: none !important;
    margin: 0 16px;

    @include mobile {
      padding: 0;
    }
  }

  &__bg {
    position: absolute;
    left: 22px;
    top: 0;

    @include mobile {
      display: none;
    }

    &.hide {
      display: none;
    }
  }

  & &__btn {
    max-width: 124px;
    text-transform: none;

    &--full {
      width: 100%;
      max-width: 100%;
    }
  }
}

.SuccessModal__Container {
  width: 100%;
  box-sizing: border-box;
  background: white;
  border-radius: var(--border-radius-primary);
  box-shadow: var(--shadow-xl) !important;
  z-index: 1;
  padding: 30px 24px 24px;

  p {
    white-space: pre-wrap;
  }
}

.Container__Content--title {
  margin-top: 22px;
}

#a1 {
  opacity: 0;
  animation: configa1 1.5s ease-out infinite;
  animation-delay: 0.25s;
}

@keyframes configa1 {
  20% {
    opacity: 0;
    transform: translate3d(-60px, 0, 0) rotate(0);
  }

  58% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  80%,
  100% {
    opacity: 0;
    transform: translate3d(260px, 80px, 0) scale(0.5);
  }
}

#a2 {
  opacity: 0;
  animation: configa2 1.5s ease-out infinite;
  animation-delay: 0.25s;
}

@keyframes configa2 {
  20% {
    opacity: 0;
    transform: translate3d(60px, -20px, 0) rotate(0);
  }

  58% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  80%,
  100% {
    opacity: 0;
    transform: translate3d(0, 120px, 0) scale(0.6);
  }
}

#a3 {
  opacity: 0;
  animation: configa3 1.5s ease-out infinite;
  animation-delay: 0.25s;
}

@keyframes configa3 {
  20% {
    opacity: 0;
    transform: translate3d(0, 80px, 0) rotate(0);
  }

  58% {
    opacity: 1;
    transform: translate3d(10px, 40px, 0);
  }

  80%,
  100% {
    opacity: 0;
    transform: translate3d(100px, 0, 0) scale(0.6);
  }
}

#a4 {
  opacity: 0;
  animation: configa4 1.5s ease-out infinite;
  animation-delay: 0.25s;
}

@keyframes configa4 {
  20% {
    opacity: 0;
    transform: translate3d(0, 60px, 0) rotate(0);
  }

  58% {
    opacity: 1;
    transform: translate3d(50px, -90px, 0) rotate(30deg);
  }

  80%,
  100% {
    opacity: 0;
    transform: translate3d(80px, 00, 0) scale(0.6);
  }
}

#a5 {
  opacity: 0;
  animation: configa5 1.5s ease-out infinite;
  animation-delay: 0.25s;
}

@keyframes configa5 {
  20% {
    opacity: 0;
    transform: translate3d(30px, 50px, 0) rotate(0);
  }

  58% {
    opacity: 1;
    transform: translate3d(0, 3px, 0);
  }

  80%,
  100% {
    opacity: 0;
    transform: translate3d(30px, 0, 0) scale(0.6);
  }
}

#a6 {
  opacity: 0;
  animation: configa6 1.5s ease-out infinite;
  animation-delay: 0.25s;
}

@keyframes configa6 {
  20% {
    opacity: 0;
    transform: translate3d(-60px, 0, 0) rotate(0);
  }

  58% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  80%,
  100% {
    opacity: 0;
    transform: translate3d(250px, 120px, 0) scale(0.5);
  }
}

#a7 {
  opacity: 0;
  animation: configa7 1.5s ease-out infinite;
  animation-delay: 0.25s;
}

@keyframes configa7 {
  20% {
    opacity: 0;
    transform: translate3d(-60px, 0, 0) rotate(0);
  }

  58% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  80%,
  100% {
    opacity: 0;
    transform: translate3d(250px, 40px, 0) scale(0.5);
  }
}

#a8 {
  opacity: 0;
  animation: configa8 1.5s ease-out infinite;
  animation-delay: 0.25s;
}

@keyframes configa8 {
  20% {
    opacity: 0;
    transform: translate3d(60px, 0, 0) rotate(0);
  }

  58% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  80%,
  100% {
    opacity: 0;
    transform: translate3d(0, 20px, 0) scale(0.6);
  }
}

#a9 {
  opacity: 0;
  animation: configa9 1.5s ease-out infinite;
  animation-delay: 0.25s;
}

@keyframes configa9 {
  20% {
    opacity: 0;
    transform: translate3d(60px, 0, 0) rotate(0);
  }

  58% {
    opacity: 1;
    transform: translate3d(0, -10px, 0);
  }

  80%,
  100% {
    opacity: 0;
    transform: translate3d(0, 70px, 0) scale(0.6);
  }
}

#l1 {
  opacity: 0;
  transform-origin: 60px 20px;
  animation: configl1 1.5s ease-out infinite;
  animation-delay: 0.25s;
}

@keyframes configl1 {
  20% {
    opacity: 0;
    transform: translate3d(75px, 70px, 0) rotate(0);
  }

  58% {
    opacity: 1;
    transform: translate3d(20px, 0, 0) rotate(45deg);
  }

  80%,
  100% {
    opacity: 0;
    transform: translate3d(-20px, 20px, 0) scale(0.6) rotate(150deg);
  }
}

#l2 {
  opacity: 0;
  transform-origin: 23px 202px;
  animation: configl2 1.5s ease-out infinite;
  animation-delay: 0.25s;
}

@keyframes configl2 {
  20% {
    opacity: 0;
    transform: translate3d(90px, 20px, 0) rotate(0);
  }

  58% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }

  80%,
  100% {
    opacity: 0;
    transform: translate3d(-20px, 70px, 0) scale(0.6) rotate(-150deg);
  }
}

#p1 {
  opacity: 0;
  transform-origin: center center;
  transform-style: preserve-3d;
  animation: configp1 1.5s ease-out infinite;
  animation-delay: 0.25s;
}

@keyframes configp1 {
  20% {
    opacity: 0;
    transform: translate3d(0, 80px, 0) rotate(0);
  }

  58% {
    opacity: 1;
    transform: translate3d(20px, 20px, 0) rotate(0);
  }

  80%,
  100% {
    opacity: 0;
    transform: translate3d(0, -90px, 0) scale(0.6) rotate(40deg);
  }
}

#p2 {
  opacity: 0;
  transform-origin: center center;
  animation: configp2 1.5s ease-out infinite;
  animation-delay: 0.25s;
}

@keyframes configp2 {
  20% {
    opacity: 0;
    transform: translate3d(10px, 60px, 0) rotate(0);
  }

  58% {
    opacity: 1;
    transform: translate3d(-40px, -20px, 0) rotate(20deg);
  }

  80%,
  100% {
    opacity: 0;
    transform: translate3d(40px, -50px, 0) scale(0.6) rotate(16deg);
  }
}

#p3 {
  opacity: 0;
  animation: configp3 1.5s ease-out infinite;
  animation-delay: 0.25s;
}

@keyframes configp3 {
  20% {
    opacity: 0;
    transform: translate3d(-60px, 0, 0) rotate(0);
  }

  58% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  80%,
  100% {
    opacity: 0;
    transform: translate3d(260px, 80px, 0) scale(0.5);
  }
}

#p4 {
  opacity: 0;
  animation: configp4 1.5s ease-out infinite;
  animation-delay: 0.25s;
}

@keyframes configp4 {
  20% {
    opacity: 0;
    transform: translate3d(0, 50px, 0) rotate(0);
  }

  58% {
    opacity: 1;
    transform: translate3d(0, 3px, 0);
  }

  80%,
  100% {
    opacity: 0;
    transform: translate3d(30px, 0, 0) scale(0.6);
  }
}

#p5 {
  opacity: 0;
  animation: configp5 1.5s ease-out infinite;
  animation-delay: 0.25s;
}

@keyframes configp5 {
  20% {
    opacity: 0;
    transform: translate3d(-60px, 0, 0) rotate(0);
  }

  58% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  80%,
  100% {
    opacity: 0;
    transform: translate3d(260px, 150px, 0) scale(0.5);
  }
}

#p6 {
  opacity: 0;
  animation: configp6 1.5s ease-out infinite;
  animation-delay: 0.25s;
}

@keyframes configp6 {
  20% {
    opacity: 0;
    transform: translate3d(-60px, 60px, 0) rotate(0);
  }

  58% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  80%,
  100% {
    opacity: 0;
    transform: translate3d(250px, 40px, 0) scale(0.5);
  }
}

#p7 {
  opacity: 0;
  animation: configp7 1.5s ease-out infinite;
  animation-delay: 0.25s;
}

@keyframes configp7 {
  20% {
    opacity: 0;
    transform: translate3d(60px, -20px, 0) rotate(0);
  }

  58% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  80%,
  100% {
    opacity: 0;
    transform: translate3d(0, 120px, 0) scale(0.6);
  }
}
