.container {
  transition: var(--default-web-transition);
  padding: var(--kiwi-spacing-3);
  display: flex;
  flex-direction: column;
  gap: var(--kiwi-spacing-2);
}

.contentWrapper {
  min-height: 208px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 208px;
}

.header {
  display: flex;
  height: 28px;
}

.titleWrapper {
  display: flex;
  gap: var(--kiwi-spacing-0-75);
  align-items: center;
}

.backButton {
  margin-left: -10px;
  margin-top: -6px;
}

.itemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--kiwi-spacing-1-25) var(--kiwi-spacing-2);
  position: relative;
  z-index: 0;
  background-color: var(--kiwi-colors-custom-role-web-surface-blue);
  border-radius: var(--kiwi-border-radius-md);
  div {
    --checkbox-border-color: var(--kiwi-colors-surface-outline);
  }
  &:not(:last-child) {
    margin-bottom: var(--kiwi-spacing-0-5);
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--kiwi-colors-custom-role-web-surface-var-subtext);
    opacity: var(--kiwi-opacity-state-layer-none);
    transition: var(--default-web-transition);
    border-radius: inherit;
  }
  &:active::after {
    opacity: var(--kiwi-opacity-state-layer-pressed);
  }
  &:hover::after {
    opacity: var(--kiwi-opacity-state-layer-focused);
  }
}

.permissionContainer {
  display: flex;
  gap: var(--kiwi-spacing-0-25);
  align-items: center;
}

.footerWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--kiwi-spacing-2);
}

.signInWithSlackContainer {
  display: flex;
  align-items: center;
  gap: var(--kiwi-spacing-2);
  flex-direction: column;
  padding: var(--kiwi-spacing-3) 0;
}

.signInWithSlackImage {
  height: 130px;
}

.signInWithSlackButton {
  min-width: 116px;
}

.email {
  color: var(--kiwi-colors-surface-on-surface);
  font-weight: 700;
}
