.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--kiwi-spacing-4) var(--kiwi-spacing-3) var(--kiwi-spacing-20) var(--kiwi-spacing-4);

  p:first-child {
    margin-bottom: var(--kiwi-spacing-1);
  }

  img {
    margin-bottom: var(--kiwi-spacing-4);
    max-width: 200px;
  }
}

.home {
  background-color: var(--kiwi-colors-surface-surface-bright);
  border-top-left-radius: var(--kiwi-border-radius-md);
  border-top-right-radius: var(--kiwi-border-radius-md);
}
