.container {
  display: flex;
  justify-content: center;
  padding-top: var(--kiwi-spacing-5);
}

.wrapper {
  max-width: 560px;
  width: 100%;
  display: grid;
  row-gap: var(--kiwi-spacing-3);
  padding: var(--kiwi-spacing-3);
  border-radius: var(--kiwi-border-radius-xl);
  background-color: var(--kiwi-colors-surface-surface-bright);
}

.img {
  width: 120px;
  height: 110px;
  margin: 0 auto;
}

.contentWrapper {
  display: grid;
  row-gap: var(--kiwi-spacing-1);
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--kiwi-spacing-2);
  margin-left: auto;

  button {
    width: fit-content;
  }
}
