@import 'reskin/screens.scss';

.container {
  color: var(--kiwi-colors-surface-on-surface);
}

.inputWrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  &[data-show-quantity='true'] {
    @include md-screen {
      grid-template-columns: 1fr 156px;
      gap: var(--kiwi-spacing-1-5);
    }
  }
}

.selectOption {
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: var(--kiwi-spacing-1);
}

.inputLabel {
  margin-bottom: var(--kiwi-spacing-0-5);
  padding: var(--kiwi-spacing-0-25) 0;
}

.orgInfoTitle {
  margin-bottom: var(--kiwi-spacing-1-5);
}

.messageContainer {
  margin-top: var(--kiwi-spacing-1-5);
  padding: var(--kiwi-spacing-1) var(--kiwi-spacing-1-5);
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: var(--kiwi-spacing-1);
  align-items: center;
  background-color: var(--kiwi-colors-custom-brand-tools-unlock-surface);
  border-radius: var(--kiwi-border-radius-md);
}

.contactUs {
  font-weight: 700;
  color: inherit;
  text-decoration: underline;
}

.selectOrg input::placeholder {
  color: var(--kiwi-colors-surface-on-surface);
  opacity: 1;
}
