@mixin organization-list-grid-template {
  width: 100%;
  display: grid;
  align-items: center;
  column-gap: var(--kiwi-spacing-2);

  &[data-list-type='member'],
  &[data-list-type='people_member'],
  &[data-list-type='people_guest'] {
    grid-template-columns: 36% 22% repeat(2, 1fr) 32px;
  }

  &[data-list-type='people_pending_member'] {
    grid-template-columns: 36% 1fr max-content;
  }

  &[data-list-type='people_request_access'] {
    grid-template-columns: 36% 22% 1fr max-content;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.listWrapper {
  width: 100%;

  &[data-disabled='true'] {
    opacity: 1;
    cursor: not-allowed;
    position: relative;
    pointer-events: none;
  }
}
