@import "../../constants/styles";
@import "../../constants/lumin-styles";

.TeamSearchItem {
  display: flex;
  align-items: center;
  border-radius: 4px;
  height: 40px;
  padding: 12px 14px;
  &:hover {
    background-color: $button-hover;
  }
  &__teamName  {
    margin: auto 16px;
    font-family: $font-stack-primary;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $primary;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 300px;
  }
  &__button {
    position: absolute;
    right: 16px;
    background-color: #3c80ef;
    border-radius: 4px;
    float: right;
    width: 92px;
    z-index: 100;
    &:hover {
      background: rgba($royalblue, 0.7);
    }
    span {
      color: $white;
      font-family: $font-stack-primary;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-transform: capitalize;
    }
  }
  &__icon {
    color: $secondary;
  }
  &__tooltip {
    margin: auto 0px;
  }
}
