.container {
  padding: 0 var(--kiwi-spacing-1);
  z-index: 3;
}

.wrapper {
  gap: var(--kiwi-spacing-0-5);
  height: 100%;
  border: var(--kiwi-spacing-0-125) solid var(--kiwi-colors-surface-outline-variant);
  border-radius: var(--kiwi-border-radius-md);
  transition: var(--default-transition);
  flex: 1 1 0%;
  display: flex;
  max-width: 100%;
  flex-flow: column;
  padding: var(--kiwi-spacing-1);
  &[data-disabled-upload="true"] {
    flex-flow: wrap;
  }
}

.focusContainer {
  border: var(--kiwi-spacing-0-125) solid var(--kiwi-colors-core-secondary);
  box-shadow:
    0px 1px 2px 0px var(--kiwi-colors-core-secondary-container),
    0px 0px 0px 4px var(--kiwi-colors-core-secondary-container);
}

.inputContainer {
  flex-wrap: wrap;
  flex-grow: 99999;
  display: flex;
  align-items: center;
}

.inputWrapper {
  flex: 1 1 0%;
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 14px;
  padding: 0 var(--kiwi-spacing-0-75);
}

.input {
  color: var(--kiwi-colors-surface-on-surface);
  @include kiwi-typography-body-md;
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  flex-grow: 1;
  align-self: flex-end;
  max-height: 240px;
  overflow: auto;
  cursor: text;
  &:empty::after {
    content: attr(data-placeholder);
    opacity: var(--kiwi-opacity-disabled-on-container);
    pointer-events: none;
  }
  &:focus-visible {
    outline: none;
  }
}

.actionsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &[data-disabled-upload="true"] {
    justify-content: flex-end;
    max-width: 100%;
    width: auto;
    flex-shrink: 0;
    display: flex;
    flex-grow: 1;
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
  flex-grow: 1;
}

.buttonRoot {
  border-radius: var(--kiwi-border-radius-sm);
  padding: var(--kiwi-spacing-0-5);
}

.svg {
  fill: var(--kiwi-colors-custom-brand-lumin-on-lumin);
  color: var(--kiwi-colors-custom-brand-lumin-on-lumin);
}

.stopButton {
  border-radius: 999px;
}

:global(mark) {
  background-color: var(--kiwi-colors-semantic-information-container);
  color: var(--kiwi-colors-semantic-information);
  &[data-selected="true"] {
    color: var(--kiwi-colors-surface-on-surface);
    opacity: var(--kiwi-opacity-disabled-on-container-variant);
  }
}

.actionsRowContainer {
  display: flex;
  align-items: center;
  gap: var(--kiwi-spacing-0-5);
}

.divider {
  margin: var(--kiwi-spacing-0-5) 0;
}