$document-grid-cols: minmax(220px, 1fr) 204px 120px 32px;
$document-grid-cols-xl: minmax(220px, 1fr) 236px 128px 32px;

$document-header-grid-cols: minmax(220px, 1fr) 204px 156px;
$document-header-grid-cols-xl: minmax(220px, 1fr) 236px 176px;

// chatbot
$document-grid-cols-xl-down-chatbot: minmax(220px, 1fr) 32px;
$document-grid-cols-xl-to-xxxl-chatbot: minmax(220px, 1fr) 150px 32px;
$document-grid-cols-xl-to-xxxl-chatbot-hover: minmax(220px, 1fr) 102px 32px;
$document-header-grid-cols-xl-to-xxxl-chatbot: minmax(220px, 1fr) 198px;
