.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  height: 100%;
  background-color: var(--kiwi-colors-surface-surface-container-lowest);
  padding-top: var(--kiwi-spacing-2);
}

.emptyWithUploadContainer {
  padding-top: var(--kiwi-spacing-0-5);
  position: relative;
  width: 100%;
  height: 100%;
  min-height: fit-content;
}

.dragAndDropSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  position: relative;
  border-radius: var(--kiwi-border-radius-md);
  cursor: pointer;
  transition: var(--default-web-transition);
  min-height: fit-content;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: inherit;
    transition: var(--default-web-transition);
    background-color: transparent;
    opacity: 0;
  }

  &:hover,
  &:active {
    &::after {
      background-color: var(--kiwi-colors-custom-role-web-thumbnail-blue-1);
      opacity: var(--kiwi-opacity-state-layer-hovered);
    }

    .dragAndDropSectionBackgroundBorder {
      stroke: var(--kiwi-colors-core-primary);
    }
  }

  &:active {
    &::after {
      opacity: var(--kiwi-opacity-state-layer-pressed);
    }
  }
}

.dragAndDropSectionBackground {
  position: absolute;
  display: block;
  overflow: visible;
  padding: var(--kiwi-spacing-0-125);
}

.dragAndDropSectionBackgroundBorder {
  stroke-width: 1;
  stroke: var(--kiwi-colors-surface-outline);
  transition: stroke var(--default-web-transition-duration) ease-in-out;

  &.dragging {
    stroke: var(--kiwi-colors-core-primary);
  }
}

.dropping {
  background-color: var(--kiwi-colors-custom-role-web-surface-blue);
}

.dragAndDrop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--kiwi-spacing-4) 0;
}

.dragAndDropImage {
  max-width: 126px;
}

.dragAndDropDescription {
  padding-bottom: var(--kiwi-spacing-1-5);
  color: var(--kiwi-colors-custom-role-web-surface-var-subtext);
  text-align: center;
}

.uploadButton {
  z-index: 1;
}

.uploadPopper {
  min-width: 199px;
}

.uploadFromMyDeviceInput {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 0;
}