@import "../../constants/styles";
@import "../../constants/note";
@import "../../constants/lumin-styles";

.NoteContent {
  @extend %title;

  display: flex;

  &__left {
    display: none;
    padding-top: 4px;
  }

  &__right {
    width: 100%;

    .highlight {
      margin-top: 10px;
      margin-bottom: 10px;

      @include themify {
        background-color: themed("commentHighlight");
      }

      padding: 5px;
      border-radius: 4px;
      position: relative;

      &.comment_added {
        margin-top: 18px;
      }

      &__text {
        @include themify {
          color: themed("commentHighlightText");
        }

        line-height: 16px;
        font-size: 12px;
        font-weight: 375;
        word-break: break-word;
        white-space: normal;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        width: calc(100% - 20px);

        span {
          display: inline-block;
        }

        &--closed {
          span {
            display: box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            max-height: 16px;
            text-overflow: ellipsis ;
            overflow: hidden;
            white-space: nowrap;
          }
        }

        .icon {
          position: absolute;
          top: 2px;
          right: 5px;

          i {
            @include themify {
              color: themed("bannerButtonClose");
            }
          }
        }
      }
    }
  }

  &__icon {
    @include themify {
      color: themed("textColorLighter");
    }
  }

  hr {
    display: none;
  }

  &.no-content {
    padding: 0 !important;

    .title {
      margin-bottom: 0;
      margin-top: 8px;
    }

    .NoteInput__container {
      .MaterialAvatar {
        display: none;
      }
    }
  }

  &.no-reply {
    hr {
      display: none !important;
    }
  }

  .comment_added .user-info {
    width: calc(100% - 40px);
  }

  .check-resolved {
    margin-right: 4px;
    text-align: right;
    flex-grow: 1;

    .Resolved__btn {
      min-width: 28px;
      height: 28px;
      width: 28px;
      i {
        @include themify {
          color: themed("iconColor");
        }
      }

      &:hover {
        @include themify {
          background: themed("popperItemHover");
        }
      }
    }
  }

  .info-wrapper {
    width: calc(100% - 75px);
  }

  .author {
    display: block;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 16px;
    text-overflow: ellipsis;

    @include themify {
      color: themed("commentAuthor");
    }
  }

  .author--deactived {
    color: $secondary;
    font-style: italic;
  }

  .time {
    font-size: 12px;
    font-weight: 375;
    font-stretch: normal;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0.26px;
    display: flex;

    @include themify {
      color: themed("commentTime");
    }

    .reply-count {
      display: inline-flex;
      margin-left: 8px;
      align-items: center;

      @include themify {
        color: themed("commentTimeIcon");
      }

      .circle {
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: var(--color-neutral-20);
        margin-right: 6px;
      }

      i {
        margin-right: 4px;
      }
    }
  }

  .content-container {
    cursor: auto;
    white-space: pre-wrap;
    h1, h2 {
      font-weight: 700 !important;
    }
    @include themify {
      color: themed("textColor");
    }

    &.comment_added {
      margin-top: 15px;
    }

    .edit-content {
      display: flex;
      flex-direction: column;
      margin: 0;

      &.visible {
        display: flex;
      }

      &.hidden {
        display: none;
      }

      .buttons {
        display: flex;

        button {
          min-height: 32px;
          padding: 6px 12px;
          border-radius: 8px;
          width: 100%;
          height: 32px;
          border: 0;
          font-size: 12px;

          &:first-child {
            margin-right: 8px;

            @include themify {
              color: themed("commentButtonText");
              background-color: themed("commentButtonCancelBg");
              border: 2px solid themed("commentButtonCancelBg");
            }
          }

          &.primary {
            @include themify {
              color: themed("commentButtonReplyButtonText");
              background-color: themed("commentButtonReplyButtonBg");
            }
          }
        }

        .disabled {
          opacity: 0.3;

          @include themify {
            background-color: themed("commentButtonDisabledBg");
          }
        }
      }
    }

    .reopened {
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 0.34px;
      line-height: normal;
      margin-bottom: 5px;
      font-style: italic;

      @include themify {
        color: themed("commentStatus");
      }
    }

    .container {
      word-break: break-word;

      &.no-content {
        font-style: italic;

        @include themify {
          color: themed("textColor");
        }
      }

      &.visible {
        display: block;
      }

      &.hidden {
        display: none;
      }
    }

    .contents {
      font-size: 12px;
      font-weight: 375;
      letter-spacing: 0.34px;
      line-height: 16px;
      margin-right: 5px;
      padding: 0;
      user-select: text;
      word-break: break-word;
      word-wrap: break-word;
      overflow: hidden;
      text-overflow: ellipsis;

      @include themify {
        color: themed("commentTextLighter");
      }

      strong {
        font-weight: bold;
      }

      em {
        font-style: italic;
      }

      u {
        text-decoration: underline;
      }

      .mention {
        color: var(--color-secondary-50);
        font-weight: 600;
      }

      a {
        text-decoration: underline;
        font-weight: 600;
        color: var(--color-secondary-50);

        @include themify {
          color: themed("commentLink");
        }
      }

      .highlight {
        background: #fffc95;
        color: #333;
      }
    }
  }

  &.is-status {
    .contents {
      @include themify {
        color: themed("commentStatus");
        font-style: italic;
      }
    }

    .info-wrapper {
      width: calc(100% - 32px);
    }
  }
}

.NoteLumin.resolved .check-resolved {
  .Resolved__btn {
    @include themify {
      background: themed("commentResolvedIconBg");
    }

    i {
      color: var(--color-primary-90);
    }

    &:hover {
      @include themify {
        background: themed("noteResolvedButtonHoverBg");
      }
    }
  }
}

.note_tooltip_viewer,
.note_tooltip_edit {
  white-space: nowrap;
}

.note_tooltip_edit-left {
  transform: translateX(-79%);

  .tooltip__arrow {
    left: 78% !important;
  }
}
