.internal__navbar-container {
    width: 100vw;
    height: 65px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    padding: 0 0 0 63px;
    position: absolute;
    top: 0;
    z-index: 2;
    box-shadow: 0 1px 3px 0 rgba(128,147,167,.2), 0 2px 1px -1px rgba(128,147,167,.12), 0 1px 1px 0 rgba(128,147,167,.14);
    cursor: pointer;
    .internal__navbar-logo {
        width: 48px;
        height: 48px;
    }
}