.referenceSources {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--kiwi-spacing-1);
  padding-bottom: var(--kiwi-spacing-1);
}

.sourceItem {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--kiwi-spacing-0-5);
  padding: var(--kiwi-spacing-0-5) var(--kiwi-spacing-1) var(--kiwi-spacing-1);
  cursor: pointer;

  border-radius: var(--kiwi-border-radius-md);
  background: var(--kiwi-colors-surface-surface-container-low);

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--kiwi-border-radius-md);
    background: var(--kiwi-colors-surface-on-surface);
    opacity: var(--kiwi-opacity-state-layer-none);
    transition: var(--editor-transition);
  }

  &:hover::after {
    opacity: var(--kiwi-opacity-state-layer-hovered);
  }
}

.header {
  display: flex;
  align-items: center;
  gap: var(--kiwi-spacing-1);
  padding: var(--kiwi-spacing-0-5) 0;
}

.logo {
  img {
    border-radius: var(--kiwi-border-radius-rounded);
  }
}

.content {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-box-orient: vertical;

  &[data-lines="1"] {
    -webkit-line-clamp: 1;
  }

  &[data-lines="2"] {
    -webkit-line-clamp: 2;
  }
}