.container {
  width: 100%;
  position: sticky;
  top: var(--header-layout-secondary-height);
  z-index: 99;
  padding-top: var(--kiwi-spacing-3);
  background-color: var(--kiwi-colors-surface-surface-container-lowest);
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--kiwi-spacing-2);
  padding: var(--kiwi-spacing-3) 0 var(--kiwi-spacing-2) 0;
  button {
    flex-shrink: 0;
  }
}

.searchInput {
  width: 100%;
}

.title {
  @include kiwi-typography-headline-xl;
  overflow-wrap: break-word;
}
