.container {
  display: flex;
  flex-direction: column;
  gap: var(--kiwi-spacing-5);
}

.title {
  margin: 0;
  // @include kiwi-typography-heading-lg;
  color: var(--kiwi-colors-surface-on-surface);
}

.list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--kiwi-spacing-4);
}

.loadTrigger {
  height: 1px;
  width: 100%;
}
