:root {
  // fonts
  --font-primary: "Axiforma", arial, sans-serif;
  --font-new-primary: "PPAgrandir", arial, sans-serif;
  --font-sign-primary: "PPAgrandir", arial, sans-serif;
  --font-secondary: "Inter", arial, sans-serif;
  --font-inter-variable: "Inter", arial, sans-serif;
  --font-pp-agrandir: "PPAgrandir", sans-serif;

  // colors
  --color-primary-10: #f4fcff;
  --color-primary-20: #e6f9ff;
  --color-primary-30: #d4f5ff;
  --color-primary-40: #b2ecfc;
  --color-primary-50: #8edef4;
  --color-primary-60: #77c2d7;
  --color-primary-70: #67a4ba;
  --color-primary-80: #4690a4;
  --color-primary-90: #035970;
  --color-primary-100: #0c395b;
  --color-primary-110: #003847;
  --color-secondary-10: #ffecef;
  --color-secondary-20: #fcd7de;
  --color-secondary-30: #faafbd;
  --color-secondary-40: #ff768f;
  --color-secondary-50: #f2385a;
  --color-secondary-60: #ce2846;
  --color-secondary-70: #b80c2b;
  --color-secondary-80: #8a0c23;
  --color-secondary-90: #680416;
  --color-neutral-0: #fff;
  --color-neutral-5: #f7f9fb;
  --color-neutral-10: #f1f5f8;
  --color-neutral-20: #dae4ec;
  --color-neutral-30: #bccfdc;
  --color-neutral-40: #9eb6c7;
  --color-neutral-50: #829db0;
  --color-neutral-60: #618298;
  --color-neutral-70: #48687f;
  --color-neutral-80: #325167;
  --color-neutral-90: #233f52;
  --color-neutral-100: #102d42;
  --color-success-10: #e0ffee;
  --color-success-50: #20c9ad;
  --color-success-60: #1da38e;
  --color-success-90: #035970;
  --color-warning-10: #fff1cc;
  --color-warning-40: #fae200;
  --color-warning-50: #f2be38;
  --color-warning-60: #d18f0b;
  --color-other-1: #fcf0ee;
  --color-other-2: #fab1a5;
  --color-other-3: #da6668;
  --color-other-4: #ebeff2;
  --color-other-5: #0c2333;
  --color-other-6: #e1e1e1;
  --color-other-7: #f04a4a;
  --color-other-8: #6e8699;
  --color-other-9: #979797;
  --color-other-10: #eaf3ff;
  --color-other-11: #8e979f;
  --color-other-12: #dddbdd;
  --color-other-13: #e7f7d7;
  --color-other-14: #dadaff;
  --color-other-15: #ffe0bc;
  --color-other-16: #5c7148;
  --color-other-17: #edf3ff;
  --color-other-18: #3885f8;
  --color-other-19: #6d6dff;
  --color-other-20: #ffa031;
  --color-other-22: #C9F1FF;
  --color-other-23: #343a3f;
  --color-other-24: #e3e5e8;
  --color-other-25: #c4f0fd;
  --color-other-26: #eeeff1;
  --color-other-27: #012832;
  --color-other-28: #1e3342;
  --color-other-29: #c7cad1;
  --color-persian-pink: #f178b6;
  --color-roman: #da6668;
  --color-white: #fff;
  --color-gray: #f1f5f9;
  --color-blue: #3180f1;
  --color-black: #000;
  --color-light-purple: #F0EBFF;
  --color-purple: #E5DBFF;

  // layout
  --auth-header-height: 72px;
  --auth-footer-height: 56px;
  --auth-footer-mobile-height: 84px;
  --app-container-width: 1040px;
  --left-sidebar-width: 272px;

  // input height
  --input-height-tiny: 32px;
  --input-height-small: 40px;
  --input-height-medium: 44px;
  --input-height-large: 48px;
  --header-height: 56px;
  --warning-banner-height: 44px;
  --toolbar-height: 48px;
  --tablet-bar: 44px;
  --notification-width: 370px;
  --banner-viewer-height: 48px;
  --banner-cookies-height: 64px;

  // shadow
  --shadow-xl: 0 8px 28px -6px rgb(12 90 112 / 12%), 0 18px 88px -4px rgb(12 90 112 / 14%);
  --shadow-xl-dark: 0 1px 48px rgb(255 255 255 / 20%), 0 1px 16px 4px rgb(255 255 255 / 16%);
  --shadow-s: 0 6px 8px -6px rgb(12 90 112 / 12%), 0 8px 16px -6px rgb(12 90 112 / 8%);
  --shadow-s-dark: 0px 1px 24px rgba(255 255 255 / 20%), 0px 1px 4px 1px rgba(255 255 255 / 16%);
  --note-selected-shadow-xs-dark: 0px 1px 3px 1px rgba(255, 255, 255, 0.16), 0px 1px 8px 0px rgba(255, 255, 255, 0.20);
  --shadow-md:
    0 8px 28px -6px rgb(12 90 112 / 12%),
    0 18px 88px -4px rgb(12 90 112 / 14%);
  --shadow-m:
    0 6px 14px -6px rgb(12 90 112 / 12%),
    0 10px 32px -4px rgb(12 90 112 / 10%);
  --shadow-m-dark:
    0 1px 32px rgb(255 255 255 / 20%),
    0 1px 6px 2px rgb(255 255 255 / 16%);
  --shadow-xs:
    0 2px 4px -2px rgb(12 90 112 / 12%),
    0 2px 4px -2px rgb(12 90 112 / 8%);
  --shadow-xs-dark: 0 1px 3px 1px rgb(255 255 255 / 16%);
  --drop-shadow-xs-dark: drop-shadow(0 1px 16px rgb(255 255 255 / 20%));
  --shadow-input: 0 0 0 1.2px var(--color-primary-30);
  --shadow-input-dark: 0 0 0 1.2px var(--color-primary-80);

  // modal
  --modal-container-width-xl: 900px;
  --modal-container-width-lg: 720px;
  --modal-container-width-mdx: 640px;
  --modal-container-width-md: 528px;
  --modal-container-width-sm: 480px;
  --zindex-modal-low: 1200;
  --zindex-modal-medium: 1300;
  --zindex-modal-high: 1400;
  --zindex-page-navigation: 199;

  // index
  --rating-modal: 1302;
  --zindex-popover: 1301;
  --zindex-notification-messages: 1100;
  --zindex-upload-modal: 1000;
  --zindex-widget-notification-icon: 201;
  --zindex-right-side-bar: 72;
  --zindex-book-mark: 70;
  --zindex-comment-panel: 80;
  --zindex-comment-panel-hidden: -100;
  --zindex-mention-comment-popup: 203;
  --zindex-document-skeleton-container: 78;
  --lumin-base-side-bar-z-index: 81;
  --z-index-lumin-tool-bar: 82;
  --z-index-lumin-header-bar: 83;
  --right-panel-width: 44px;
  --content-edit-panel-width: 356px;

  // container
  --container-primary: 1200px;

  // border
  --border-radius-large: 16px;
  --border-radius-primary: 8px;
  --border-radius-dense: 4px;
  --border-primary: 1px solid var(--color-neutral-30);
  --border-secondary: 1px solid var(--color-neutral-20);

  // lumin sign colors
  --color-white-hover: #dbdfe3;
  --color-lumin-sign-primary: #192833;
  --color-lumin-sign-error: #DB3B21;
  --color-lumin-sign-primary-disable:#98A2B3;
  --color-lumin-sign-outline: #D0D5DD;
  --color-lumin-sign-link: #3885F8;
  --color-lumin-sign-grey-100: #F2F4F7;
  --color-lumin-sign-on-surface-variant:#47464F;
  --color-lumin-sign-small-btn-hover: #EDEEEF;
  --color-lumin-sign-tag-background: #FFFBFF;
  --color-lumin-sign-tag-color: #786EFF;
  --color-lumin-sign-warning: #F9CE58;
  --color-lumin-sign-process: #5346D8;
  --color-lumin-sign-btn-on-tonal: #3D2ED9;
  --color-lumin-sign-btn-tonal: #F2E8FF;
  --color-lumin-sign-on-primary-container: #120068;

  // new layout
  --lumin-tool-bar-height: 32px;
  --lumin-title-bar-height: 56px;
  --lumin-mobile-title-bar-height: 56px;
  --lumin-left-side-bar-width: 80px;
  --lumin-left-side-bar-width-expanded: 276px;
  --lumin-right-side-bar-width: calc(40px + 8px * 2);
  --lumin-right-panel-width: 360px;
  --lumin-right-panel-offset: 4px;
  --lumin-left-panel-width: 300px;
  --lumin-left-panel-offset: 4px;
  --lumin-tool-properties-width: 360px;
  --lumin-revision-tool-property-width: 316px;
  --lumin-comment-panel-width: 303px;
  --lumin-tool-properties-offset: 4px;
  --lumin-border-radius-md: 8px;
  --lumin-border-radius-sm: 4px;
  --lumin-comment-popper-width: 303px;
  --lumin-mention-popper-width: 271px;
  --notification-widget-width: 448px;
  --notification-widget-preview-width: 400px;

  // design tokens for the new layout (temporary)
  --editor-elevation-light-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  --editor-elevation-light-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --sizing-dialogs-xs: 304px;
  --sizing-dialogs-sm: 400px;
  --color-le-main-background: #f9f9fa;
  --base-gap: 8px;
  --base-gap-2x: 16px;
  --base-gap-3x: 24px;
  --font-weight-bold: 700;

  // transition
  --editor-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  --editor-transition-with-delay: 250ms ease 3s;
  --editor-transition-presenter-nav: 600ms ease 2s;

  // focus mode
  --zindex-focus-mode-expand-button: 80;
  --focus-mode-side-bar-hovering-width: 8px;
  --focus-mode-transition: var(--editor-transition);

  // web right panel
  --web-right-panel-width: 352px;
  
  // floating toolbar
  --zindex-floating-toolbar: 61;
}
