.menuPaper {
  padding: var(--kiwi-spacing-1);
}

.menuItem {
  display: flex;
  align-items: center;
  gap: var(--kiwi-spacing-1);
  justify-content: space-between;
}

.menuItemText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.closeBtn {
  display: inline-flex;
  align-items: center;
}