.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--kiwi-spacing-2);
}

.header {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  position: absolute;
  right: var(--kiwi-spacing-1-5);
  top: 18px;
}
